* {
    margin: 15px;
    left: 0;
    border: 40px;
    font-family: 'poppins', sans-serif;
    background-color: #c2c2c2;
}

/* fonte corpo */

body h2 {
    font-size: 40px;
    color: yellowgreen;
}

body h4 {
    font-size: 40px;
    color: red;
}


.lobinho p {
    font-size: 50px;
    padding: 30px;
    color: blue;
}

.lobinho2 p {
    font-size: 35px;
}

.lobinho3 p {
    font-size: 40px;
    padding: 20px;
    color: blueviolet;
}